:root {
  --primary-color: aquamarine;
  --highlight-color: rgb(114, 230, 191);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0 15px;
}

.note-container {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  padding: 15px 0;
}

.note-container-ancestors {
  border-bottom: dotted 2px black;
}
