.unauth {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.unauth > .form {
  padding: 40px;
  border: solid 2px black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unauth > .form > h1 {
  all: unset;
  display: block;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: -3px;
  margin-bottom: 10px;
}

.unauth > .form > .name > .label {
  padding: 2px 8px;
}

.unauth > .form > .name > input {
  font-family: inherit;
  font-size: inherit;
  padding: 5px 7px;
  margin-bottom: 20px;
  outline: none;
}

.unauth > .form > button {
  all: unset;
  font-family: inherit;
  font-size: inherit;
  display: block;
  background-color: var(--primary-color);
  padding: 8px 15px;
  border-radius: 3px;
  cursor: pointer;
}

.unauth > .form > button:hover {
  background-color: var(--highlight-color);
}
